{% load static %}
<footer class="footer">
  <hr class="footer-hr" />
  <div class="footer-content">
    <div class="footer-left">
      {% comment %}
      <a
        href="//www.dmca.com/Protection/Status.aspx?ID=25e5148f-ee6d-4e15-a5ed-328b7fdab505"
        title="DMCA.com Protection Status"
        class="dmca-badge"
      >
        <img
          src="https://images.dmca.com/Badges/dmca-badge-w100-2x1-01.png?ID=25e5148f-ee6d-4e15-a5ed-328b7fdab505"
          alt="DMCA.com Protection Status"
          width="50"
          height="45"
      /></a>

      <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
      {% endcomment %}
    </div>
    <div class="footer-middle">
      <h2 class="footer-heading">Services</h2>
      <ul class="footer-middle-list">
        <li class="footer-middle-list-item">
          <a href="home.html">Enjoy Latest Movies</a>
        </li>
        <li class="footer-middle-list-item"><a href="faq.html">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-middle">
      <a href="home.html"
        ><img
          class="footer-logo"
          src="{% static 'images/TheaterLogoFinal.png' %}"
          alt=""
          width="30"
          height="24"
      /></a>
      <p class="footer-bottom-tagline">Watch! Chill! Repeat!</p>
    </div>
    <div class="footer-right">
      <p class="footer-links"></p>
      <h2 class="footer-heading">Contact Us</h2>
      <p class="footer-bottom-tagline">Feel free to contact us.</p>
      <a class="footer-contact-button" href="contactus.html">Contact</a>
    </div>
  </div>
  <hr class="footer-hr" />
  <div class="footer-copyright">
    <p>Copyright Crazy Movies &copy; and &reg; Since 2023</p>
  </div>
</footer>

<button id="scrollToTopButton" title="Go to top">
  <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</button>
<script>
  $(document).ready(function () {
    var scrollTopButton = document.getElementById("scrollToTopButton");
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        scrollTopButton.style.display = "block";
      } else {
        scrollTopButton.style.display = "none";
      }
    }

    $("#scrollToTopButton").click(function () {
      $("html ,body").animate({ scrollTop: 0 }, 800);
    });
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://daniellaharel.com/raindrops/js/raindrops.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'js/main-min.js' %}"></script>

<script>
  function logout() {
    window.location.replace("login.html");
  }
</script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/script1.js' %}"></script>
