{% load static %}
<!DOCTYPE html>
<html>
  <head>
{% include 'movies/final/header.html' %}
</head>
<!------------------------Scroll to top button------------------------------------------------>

<script>
  setTimeout(function () {
    $('.section').fadeToggle();
  }, 4000);
  
</script>
<title>
  Download movies in Hindi-English [ORG DD 5.1] Full Movie WEB-DL 480p | 720p | 1080p | 1440p 2K | 2160p 4K
</title>
<body>
  

  <div class="scroll-bar">

    
    <!-- navbar starts -->
    {% include 'movies/final/navbar.html' %}
    

    <marquee>Welcome To <i>CrazyWave Movies</i>.com<sup>&reg;</sup></marquee>
    <h1 class="online">Download Latest Movies Now!</h1>
    

        
    <div class="maincontainer">

      <h2>Movies</h2>
      <hr>
      <div class="container">
          <div id="movies" class="row"></div>
      </div>
           
      {% include 'movies/final/category_list.html' %}

    <div id="waterdrop"></div>

    <!-------------------------------Footer-------------------------------->
    {% include 'movies/final/footer.html' %}

    </body>

</html>
