{% load static %}

<h3>Top Movies</h3>
<hr />
{% for item in topmovies %}

<div class="poster">
  <div class="flip-card_i">
    <a href="{% url 'movie_detail' item.id item.title %}" target="_blank">
      <img
        src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ item.poster_path }}"
        alt="Avatar"
        style="width: 250px; height: 360px"
      />
    </a>
    <a href="https://xpshort.com/movieslink" target="_blank">
      <h2>{{item.title}}</h2>
    </a>
    <br />
    <br />

    <p class="para_i">{{ item.overview }}</p>

    <div class="flim">
      <b>{{item.title}}</b><br />IMDb - {{item.vote_average}}
      <br />
      <button
        class="btn btn-success"
        type="submit"
        value=""
        onclick="openWin10{{item.id}}()"
      >
        ▶Trailer
      </button>
      <script>
        function openWin10{{item.id}}(){
          var link ='{{ item.movie_trailer }}';
          var baseurl = 'https://www.youtube.com/watch?v=';
          var url= baseurl.concat("",link);
          console.log(link)
          console.log("link address " + baseurl + link);
          window.open(baseurl + link,"_blank","top=100,left=250,height=400,width=600,channelmode=yes,fullscreen=yes,menubar=no,toolbar=no,location=no,status=no,scrollbars=no,noopener=no");
        }
      </script>
      <br />
    </div>
  </div>
</div>

{% endfor %}
